.header {

  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

  padding: 0 60px;

  position: sticky;
  top: 0;
  z-index: 1000;

  /* 핵심 디자인 */

  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(0,0,0,0.05);

  box-shadow: 0 4px 20px rgba(0,0,0,0.03);
}

/* logo */

.logo {
  font-size: 24px;
  font-weight: 700;

  color: #111;

  text-decoration: none;

  margin-right: 40px;
}

/* link */

.link {

  text-decoration: none;
  color: #444;

  font-weight: 500;

  position: relative;

  transition: 0.2s;
}

.link:hover {
  color: #2FA36B;
}

/* underline animation */

.link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;

  width: 0%;
  height: 2px;

  background: #2FA36B;

  transition: 0.25s;
}

.link:hover::after {
  width: 100%;
}

/* right */

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

/* login */

.mypage {
  text-decoration: none;

  color: #333;
  font-weight: 500;

  transition: 0.2s;
}

.mypage:hover {
  color: #2FA36B;
}
