/* 캘린더 전체 카드 스타일 */
.fc {
  background: white;
  border-radius: 16px;
  padding: 20px;
  font-family: Pretendard, sans-serif;
}

.fc-today-button.fc-button.fc-button-primary {
  padding: 10px !important;
  background-color: #f4f4f4 !important;
  color: rgb(72, 72, 72) !important;
}

.fc-today-button.fc-button.fc-button-primary:hover {
  background-color: #16a34a !important;
  color: white !important;
}

.fc-toolbar-title {
  margin: 0 6px;
  font-size: 22px;
  font-weight: 600;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
  gap: 24px;
}

.fc-today-button {
  background-color: #22c55e !important;
  color: white !important;
  border-radius: 8px !important;
}

/* 이전 다음 버튼 */
.fc-button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: black !important;
  padding: 4px 8px !important;
}

/* hover 시 배경 제거 */
.fc-button:hover {
  background: none !important;
  color: black !important;
}

/* 요일 헤더 */
.fc-col-header-cell {
  background: #f9fafb;
  font-weight: 600;
  color: #374151;
}

/* 날짜 셀 */
.fc-daygrid-day {
  transition: background 0.2s;
}

/* hover 효과 */
.fc-daygrid-day:hover {
  background: #f3f4f6;
}

/* 오늘 날짜 */
.fc-day-today {
  background: #ecfdf5 !important;
}
/* 
/* 이벤트 카드 */
.fc-event {
  border: none;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 12px;
  background-color: #22c55e;
} */

/* 이벤트 hover */
.fc-event:hover {
  background-color: #16a34a;
}

/* 날짜 숫자 */
.fc-daygrid-day-number {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}