* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    min-height: calc(100vh + 120px);
}

.footer {
    bottom: 0;
    width: 100%;
}